<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">

	<!-- Internet permission for API calls -->
	<uses-permission android:name="android.permission.INTERNET" />
	<!-- Permission to post notifications (required for Android 13+) -->
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

	<application
		android:name=".MotQotApplication"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/Theme.MotQot">

		<activity
			android:name=".MainActivity"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name=".SettingsActivity"
			android:theme="@style/Theme.MotQot.Settings"
			android:label="@string/settings"
			android:parentActivityName=".MainActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity" />
		</activity>

		<!-- Disable automatic WorkManager initialization -->
		<provider
			android:name="androidx.startup.InitializationProvider"
			android:authorities="${applicationId}.androidx-startup"
			android:exported="false"
			tools:node="merge">
			<meta-data
				android:name="androidx.work.WorkManagerInitializer"
				tools:node="remove" />
		</provider>
	</application>

</manifest>
